<!doctype html>
<html lang="en" ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 
    <title>Title</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/all.min.js"></script>
</head>
<body ng-controller="SomeCtrl">
    <ol class="carousel-indicators">
        <li ng-repeat="step in recipe.steps"
            ng-class="{active: $index == stepIndex}"></li>
    </ol>
    <div class="wrapper">
        <div ng-style="{'background-image':'url(' + step.img.src + ')'}" class="step">

            <div class="foot">
                <a href="#" ng-click="back()">back</a>
                <a href="#" ng-click="next()">next</a>
                <p class="attribution">
                    Photo: 
                    <a href="{{step.img.attribution.link}}" target="_blank">
                        <img ng-src="{{step.img.attribution.logo}}">
                        {{step.img.attribution.originator}}
                    </a>
                </p>
                <p class="instruction">{{step.instruction}}</p>
            </div>
            
        </div>
    </div>
    <pre>{{debug}}</pre>
</body>
</html>